header h1, h2 {
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    color:rgb(66, 85, 192)
}

Logo {
    margin-top: 0px;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    color:rgb(215, 75, 67)
}

header h1 {
    text-align: center;
}

ul {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 20px;
}

li:last-child {
    margin-right: 0;
}

a {
    color: rgb(0, 149, 255);
    text-decoration: none;
}

div {
    display: inline;
    background-color: rgba(0, 0, 0, 0.266);
    border-radius: 5px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}