

        /* Make top bar full width and fixed to top of window */
        .top-bar {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }

		.top-bar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: rgb(16, 16, 16);
			color: #fff;
			padding: 10px;
            font-size: 20px;
		}
		.top-bar a {
			color: #fff;
			text-decoration: none;
			margin-right: 20px;
		}
		.top-bar a:hover {
			color: #ccc;
		}
		.top-bar .logo {
			font-size: 30px;
            color: rgb(162, 162, 227);
            
		}
        .logo {
            font-family: 'Bebas Neue', sans-serif;
            color:rgb(120, 120, 187);
        }
        body {
	        background: rgb(19, 19, 19);
            color: white;
	        background-attachment: fixed;
        }
        .mainpageImage {
            width: 40%;
            margin: 0 3%;
        }
        .topDiv {
            background: linear-gradient(to bottom left, rgb(56, 56, 56), #000000);
        }
        html {
            scroll-behavior: smooth;
        }
        .lsbdiv {
            width: 60%;
            margin: auto;
        }
        leftText {
            text-align: left;
        }
        ul {
            list-style: none;
        }